{% extends 'mainapp/base.html' %}


{% block content %}
<nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="{% url 'home' %}">URL ShOrTeNeR</a>

        <ul class="uk-navbar-nav uk-position-top-right">

            <li>
                <a href="{% url 'logout' %}">Hello, {{ request.user }}, Logout</a>
            </li>
        </ul>

<!--        <div class="uk-navbar-item">-->
<!--            <div>Some <a href="#">Link</a></div>-->
<!--        </div>-->

<!--        <div class="uk-navbar-item">-->
<!--            <form action="javascript:void(0)">-->
<!--                <input class="uk-input uk-form-width-small" type="text" placeholder="Input">-->
<!--                <button class="uk-button uk-button-default">Button</button>-->
<!--            </form>-->
<!--        </div>-->

    </div>
</nav>


<form method="post" class="uk-card uk-card-default uk-card-body">
<h1 class="uk-text-lead">Create a new short URL</h1>
    {% csrf_token %}
    <div class="uk-margin">
<!--        <label class="uk-form-label">Enter your URL:</label>-->
        {{ newUrlForm.full_url }}
    </div>

    <div class="uk-margin">
<!--        <label class="uk-form-label">Enter short ID:</label>-->
        {{ newUrlForm.ext }}
    </div>

    <button type="submit" class="uk-button uk-button-primary">Submit</button>
</form>

<div class="uk-card uk-card-default uk-card-body uk-margin-small-top">
<h1 class="uk-text-lead">Your URLs</h1>
<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>full URL</th>
            <th>short ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for urls in allUrls %}
        <tr>
            <td>
                <a target="_blank" href={{ urls.full_url }}>
                    {{ urls.full_url }}
                </a>
            </td>
            <td class="shortUrl">
                <a target="_blank" href={{ baseUrl }}{{ urls.ext }}>
                    {{ baseUrl }}{{ urls.ext }}
                </a>
            </td>
            <td><span class="uk-margin-small-right clipBoard" uk-icon="move"></span>
                <a href="{% url 'deleteUrl' urls.ext %}">
                    <span class="uk-margin-small-right" uk-icon="trash"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>

</script>

{% endblock content %}